:root {
  --primary: blueviolet;
  --secondary: #ff2da4;
  --blue: ;
  --third: #76ecd7;
}
.blueviolet {
  color: var(--primary);
}
.bg-blueviolet {
  background-color: var(--primary);
}
.gray {
  color: darkgray;
}

.primary {
  filter: brightness(0) invert(44%) sepia(91%) saturate(4819%)
    hue-rotate(306deg) brightness(99%) contrast(105%);
}
