body {
  background-image: url(../images/random.png);
  background-size: 1000px;
  cursor: url('../images/pointer4.png'), pointer;
}

.container {
  max-width: 800px;
  margin: auto;
}
.container-wide {
  max-width: 1000px;
  margin: 48px auto;
}
@media (max-width: 1240px) {
  .container-wide {
    margin-left: 102px;
    margin-right: 12px;
  }
}
@media (max-width: 750px) {
  .container-wide {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.blog-text {
  background-color: white;
  padding: 48px;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin: 12px auto;
}
@media (max-width: 1112px) {
  .blog-text {
    margin-left: 102px;
    margin-right: 12px;
  }
}
@media (max-width: 800px) {
  .blog-text {
    padding: 24px;
  }
}
@media (max-width: 750px) {
  .blog-text {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.square {
  background-color: #ff2da4;
  height: 140px;
  width: 140px;
  color: white;
}
.framed {
  border: 16px solid var(--primary);
}
.padding {
  padding: 16px;
}
.margin {
  margin: 16px;
}
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
